<div class="main-wrapper">
    <div class="container-fluid my-container">
        <div class="my-header">
            <div class="buttons-container">
                <button class="header-button">Hombre</button>
                <div class="button-divider"></div>
                <button class="header-button">Mujer</button>
                <div class="button-divider"></div>
                <button class="header-button">Junior</button>
                <div class="button-divider"></div>
                <button class="header-button">Niños</button>
                <div class="button-divider"></div>
                <button class="header-button">Accesorios</button>
                <div class="button-divider"></div>
                <button class="header-button">Ofertas</button>
            </div>
        </div>
        <div class="my-carousel">
            <button class="carousel-button">
                <i class="bi bi-chevron-compact-left"></i>
            </button>
            <img class="banner-desk" src="/assets/images/banner-principal.jpg" alt="">
            <img class="banner-mobile" src="/assets/images/banner-principal-mobile.jpg" alt="">
            <button class="carousel-button">
                <i class="bi bi-chevron-compact-right"></i>
            </button>
        </div>
    </div>
</div>