.main-wrapper {
    width: 100%;
}

.my-container {
    width: 100%;
    padding: 0;
}

.my-header {
    width: 100%;
    background-color: #000000;
    padding: 14px;
}

.buttons-container {
    width: 70%;
    min-width: 783px;
    display: flex;
    margin-inline: auto;
}

.button-divider {
    border-left: 1px solid white;
    height: 53px;
}

button {
    border: 0px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-weight: bolder;
}

button:focus {
    outline: 0;
}

.header-button {
    width: 14%;
    min-width: 129px;
    font-size: 25px;
    padding: 0;
    margin-inline: auto;
    transition: all .2s;
}

.header-button:hover {
    background-color: rgb(34, 34, 34);
}

.my-carousel {
    width: 100%;
    display: flex;
}

img {
    width: 100%;
    object-fit: contain;
    margin-inline: -142px;
}

.carousel-button {
    position: relative;
    z-index: 5px;
    font-size: 130px;
}

@media all and (max-width: 992px){
    .main-wrapper {
        width: 100%;
    }

    .my-container {
        width: 100%;
        padding: 0;
    }

    .buttons-container {
        margin-inline: auto;
        text-align: center;
    }

    .header-button {
        font-size: 20px;
        padding-inline: 25px;
    }

}