.card {
    max-width: 280px;
    margin: auto;
    padding: 0 1rem;
    border: 0;
    display: flex;
    flex-flow: column;
    height: 450px;
    overflow: hidden;
    transition: all .2s;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card .my-card-body {
    display: inherit;
    flex-flow: inherit;
    padding: 1rem;
    flex-grow: 1;
}

.card .my-card-body p {
    max-height: 90px;
    overflow: hidden;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
}

.card .my-card-body .price-cont {
    display: inherit;
    flex-grow: 1;
    margin-top: 10px;
}

.card .my-card-body .price-cont h5 {
    color: #6a10ae;
    font-size: 25px;
    margin-left: auto;
    align-self: flex-end;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 9px 13px #b6b6b6;
}

@media all and (max-width: 1090px) {
    .card {
        max-width: 320px;
        margin: auto;
        padding: 0 1rem;
        border: 0;
        display: flex;
        flex-flow: column;
        height: 515px;
        overflow: hidden;
        transition: all .2s;
    }
}