.row {
    margin-block: 1rem;
}

.row .pag-cont {
    flex: 0 0 auto;
    width: 100%;
    text-align: center;
}

.row .pag-cont .my-btn {
    padding-inline: 1.5rem;
    font-size: 20px;
    margin-inline: -1px;
    border-block: 0px;
    border-inline: 1px solid;
    border-image:
        radial-gradient(
            circle,
            white,
            gray,
            white
        ) 1;
}

.row .pag-cont button:hover {
    background-color: #eeeeee;
}

.row .pag-cont button:focus {
    box-shadow: none;
}

.row .pag-cont button i {
    color: gray;
    font-size: 30px;
}