<div class="row">
    <div class="pag-cont">
        <button class="btn disabled" *ngIf="page==1">
            <i class="bi bi-arrow-left-short d-flex align-items-center"></i>
        </button>
        <button (click)="changePage(-1)" class="btn" *ngIf="page!=1">
            <i class="bi bi-arrow-left-short d-flex align-items-center"></i>
        </button>
        <button class="btn disabled my-btn">{{ page }}</button>
        <button class="btn disabled" *ngIf="page==51">
            <i class="bi bi-arrow-right-short d-flex align-items-center"></i>
        </button>
        <button (click)="changePage(1)" class="btn" *ngIf="page!=51">
            <i class="bi bi-arrow-right-short d-flex align-items-center"></i>
        </button>
    </div>
</div>