.my-container {
    width: 100%;
    padding: 0;
}

.my-container .products-cont {
    width: auto;
    margin-inline: 1.5rem;
}

.my-container .products-cont .card-cont {
    flex: 0 0 auto;
    width: 20%;
    margin-block: 25px;
}

@media all and (max-width: 992px) {
    .my-container .products-cont .card-cont {
        width: 100%;
    }
}