.desktop {
    display: block;
    width: 100%;
    padding-inline: 3rem;
}

.mobile {
    display: none;
}

.navbar-brand {
    width: 27%;
}

.my-logo {
    width: 100%;
    height: auto;
}

.navbar-collapse {
    width: 73%;
}

.search-container {
    width: 55%;
    display: flex;
    margin-left: 10%;
}

.search-input {
    border: 0;
    border-radius: 4px;
    background-color: #eeeeee;
    padding-block: 5px;
    padding-left: 25px;
    padding-right: 60px;
    margin-right: -60px;
    width: 100%;
    font-size: 30px;
}

.search-input:focus {
    outline: 0;
}

.my-icon {
    display: flex;
    font-size: 40px;
    color: #6b6b6b;
}

.my-button {
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    transition: all .17s;
}

.my-button:focus {
    outline: 0;
}

.my-button:hover {
    background-color: #f1f0f0;
}

.search-button {
    background-color: transparent;
    min-width: 60px;
}

.search-button:hover {
    background-color: #e7e6e6;
}

.cart-icon {
    font-size: 48px;
}

.cart-button {
    min-width: 6%;
    margin-left: auto;
}

.login-icon {
    margin-right: 7px;
}

.login-button {
    min-width: 20%;
    font-size: 25px;
    color: #6b6b6b;
    margin-inline: 1%;
}

.mobile-menu {
    display: none;
}

@media all and (max-width: 1090px) {
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
        width: 100%;
        padding: 0 3%;
    }

    .mobile-container {
        padding: 0;
    }

    .my-button {
        padding: 4px;
    }

    .menu-nav-container {
        width: 100%;
    }

    .my-nav-button {
        width: 80%;
        border: 0px;
        padding: 0;
        margin: 1rem;
        text-align: start;
        font-weight: bolder;
        background-color: transparent;
        transition: all .17s;
    }

    .burger-button {
        display: flex;
        width: 14%;
        align-items: center;
        padding: 10px 0;
    }

    .burger-icon {
        width: 100%;
        font-size: 3rem;
    }

    .search-button {
        width: 9%;
        min-width: 33px;
        height: auto;
        margin-left: 1rem;
    }

    .my-icon {
        font-size: 25px;
    }

    .cart-icon {
        font-size: 28px;
    }

    .mobile-search-button {
        background-color: transparent;
        height: 100%;
        width: auto;
    }

    .navbar-brand {
        width: 58%;
        margin-right: 0;
    }

    .my-logo {
        width: 100%;
        height: auto;
    }

    .cart-button {
        margin-left: 0;
        height: auto;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, .5);
        z-index: 100;
        top: 0;
        left: -11px;
    }

    .mobile-menu-nav {
        position: absolute;
        background-color: white;
        width: 80vw;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 2rem;
        z-index: 101;
        top: 0;
        left: -20px;
    }

    .mob-search-wrapper {
        padding-bottom: 1rem;
    }

    .search-container {
        width: 90%;
        margin: 0 auto;
        height: 3rem;
    }

    .search-input {
        padding-right: 60px;
        margin-right: -45px;
        width: 100%;
        font-size: 25px;
    }
}