<header class="topbar desktop">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="/assets/images/logo.svg" class="my-logo" alt="Clothes Store">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="search-container">
                    <input class="search-input"
                           id="search-input"
                           type="text"
                           placeholder="Buscar aquí producto"
                           (keydown.enter)="search(queryInput)"
                           [(ngModel)]="queryInput">
                    <button class="my-button search-button"
                            (click)="search(queryInput)">
                        <i class="bi bi-search my-icon"></i>
                    </button>
                </div>
                <button class="my-button cart-button" [routerLink]="'/cart'">
                    <i class="bi bi-cart2 cart-icon my-icon"></i>
                </button>
                <button class="my-button login-button">
                    <i class="bi bi-person-circle login-icon my-icon"></i>
                    Iniciar sesión
                </button>
            </div>
        </div>
    </nav>
</header>
<header class="topbar mobile">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid mobile-container">
            <button class="burger-button my-button" (click)="toggleMobileMenu()">
                <img src="/assets/images/icon-menu.svg" class="burger-icon" alt="Ícono menú">
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="/assets/images/logo.svg" class="my-logo" alt="Clothes Store">
            </a>
            <button class="my-button search-button" (click)="toggleInput()">
                <i class="bi bi-search my-icon"></i>
            </button>
            <button class="my-button cart-button" [routerLink]="'/cart'">
                <i class="bi bi-cart2 cart-icon my-icon"></i>
            </button>
        </div>
        <div class="mobile-menu" *ngIf="showMobileMenu" (click)="toggleMobileMenu()">
        </div>
        <div class="mobile-menu-nav" *ngIf="showMobileMenu">
            <div class="menu-nav-container">
                <button class="close-nav-button" (click)="toggleMobileMenu()">
                    <img src="/assets/images/icon-cancel.svg" class="my'close-icon" alt="Clothes Store">
                </button>
                <button class="my-nav-button">Hombre</button>
                <button class="my-nav-button">Mujer</button>
                <button class="my-nav-button">Junior</button>
                <button class="my-nav-button">Niños</button>
                <button class="my-nav-button">Accesorios</button>
                <button class="my-nav-button">Ofertas</button>
            </div>
        </div>
    </nav>
    <div class="mob-search-wrapper" *ngIf="showInput">
        <div class="search-container">
            <input class="search-input"
                   id="search-input"
                   type="text"
                   placeholder="Buscar aquí producto"
                   (keydown.enter)="search(queryInput)"
                   [(ngModel)]="queryInput">
            <button class="my-button mobile-search-button"
                    (click)="search(queryInput)"
                    (click)="toggleInput()">
                <i class="bi bi-search my-icon"></i>
            </button>
        </div>
    </div>
</header>