.my-topbar {
    width: 100%;
    padding-inline: 6rem;
}

.navbar-brand {
    width: 27%;
}

.my-logo {
    min-width: 380px;
    min-height: 90px;
}

.navbar-collapse {
    width: 73%;
}

.search-container {
    width: 50%;
    display: flex;
    margin-left: 10%;
}

.search-input {
    border: 0;
    border-radius: 4px;
    background-color: #eeeeee;
    padding-block: 5px;
    padding-left: 25px;
    padding-right: 60px;
    margin-right: -60px;
    width: 100%;
    font-size: 30px;
}

.search-input:focus {
    outline: 0;
}

.my-icon {
    display: flex;
    font-size: 35px;
    color: #6b6b6b;
}

.my-button {
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    transition: all .17s;
}

.my-button:focus {
    outline: 0;
}

.my-button:hover {
    background-color: #f1f0f0;
}

.search-button {
    background-color: transparent;
    padding: 10px;
    height: 60px;
    width: 60px;
}

.search-button:hover {
    background-color: #e7e6e6;
}

.cart-icon {
    font-size: 40px;
}

.cart-button {
    width: 6%;
    margin-left: auto;
}

.login-icon {
    margin-right: 7px;
}

.login-button {
    min-width: 20%;
    font-size: 25px;
    color: #6b6b6b;
    margin-inline: 1%;
}

@media all and (max-width: 991px) {

}