.main-wrapper {
    width: 100%;
}

.main-wrapper .my-container {
    width: 100%;
    padding: 0;
}

.main-wrapper .my-container .category-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4%;
}

.main-wrapper .my-container .category-container button {
    width: auto;
    margin: 2rem 1rem;
}

.main-wrapper .my-container .category-container button img {
    width: 100%;
    object-fit: contain;
}

.main-wrapper .my-container h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.main-wrapper .my-container .mwp-cards {
    width: 100%;
    margin-block: 3rem;
    margin-inline: 0;
}

.main-wrapper .my-container .mwp-cards .mwp-card {
    flex: 0 0 auto;
    width: 21%;
}

.main-wrapper .my-container .mwp-cards .mwp-card-mobile {
    display: none;
}

.main-wrapper .my-container .mwp-cards .mwp-button-cell {
    width: 8%;
}

.main-wrapper .my-container .mwp-cards .mwp-button-cell-mob {
    display: none;
}

.main-wrapper .my-container .mwp-cards .mwp-button-cell .bi {
    font-size: 90px;
}

button {
    border: 0;
    background-color: transparent;
    font-weight: bolder;
    color: #b3b3b3;
}

button:focus {
    outline: 0;
}

@media all and (max-width: 1090px) {
    .category-container{
        flex-flow: column;
        padding: 1rem;
    }

    button {
        margin-bottom: 2rem;
    }

    .main-wrapper .my-container .mwp-cards .mwp-button-cell {
        display: none;
    }

    .main-wrapper .my-container .mwp-cards .mwp-button-cell-mob {
        display: block;
        padding: 0;
        width: 15%;
    }

    .main-wrapper .my-container .mwp-cards .mwp-button-cell-mob .bi {
        font-size: 56px;
    }

    .main-wrapper .my-container .mwp-cards .mwp-card {
        display: none;
    }
    
    .main-wrapper .my-container .mwp-cards .mwp-card-mobile {
        display: block;
        width: 70%;
    }
}