.main-wrapper {
    width: 100%;
}

.main-wrapper .my-container {
    width: 100%;
    padding: 0;
}

.main-wrapper .my-container .category-container {
    width: 100%;
    display: flex;
    padding: 4%;
}

.main-wrapper .my-container .category-container button {
    width: 46%;
    margin-inline: auto;
}

.main-wrapper .my-container .category-container button img {
    width: 100%;
    object-fit: contain;
}

.main-wrapper .my-container h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
}

.main-wrapper .my-container .mwp-cards {
    width: 100%;
    margin-block: 3rem;
    margin-inline: 0;
}

.main-wrapper .my-container .mwp-cards .mwp-cell {
    flex: 0 0 auto;
    width: 16.6666666667%;
}

button {
    border: 0;
    background-color: transparent;
    font-weight: bolder;
    color: #b3b3b3;
    font-size: 90px;
}


button:focus {
    outline: 0;
}

@media all and (max-width: 992px) {
    .category-container{
        flex-flow: column;
        padding: 1rem;
    }
    button {
        margin-bottom: 2rem;
    }
    .mwp-card {
        flex: 0 0 auto;
        width: 100%;
    }
}