<footer class="my-footer">
    <div class="container my-container">
        <nav class="row">
            <!-- 1st menu -->
            <ul class="my-menu">
                <li class="my-title">
                    Políticas
                </li>
                <li class="menu-item">
                    <button class="my-button">Políticas de privacidad</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Políticas de cambio</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Políticas de envío</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Términos y condiciones</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Responsabilidad social</button>
                </li>
            </ul>
            <!-- 2nd menu -->
            <ul class="my-menu">
                <li class="my-title">
                    Acerca de speedo
                </li>
                <li class="menu-item">
                    <button class="my-button">Encuentra tu tienda</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Contáctanos</button>
                </li>
                <li class="menu-item">
                    <button class="my-button">Trabaja con nosotros</button>
                </li>
            </ul>
            <!-- Social networks -->
            <ul class="my-menu">
                <li class="my-title">
                    Síguenos en:
                </li>
                <li class="menu-item sn-menu">
                    <!-- Facebook -->
                    <button class="my-button">
                        <img src="/assets/images/icon-facebook.svg" alt="Ícono facebook">
                    </button>
                    <!-- Twitter -->
                    <button class="my-button">
                        <img src="/assets/images/icon-twitter.svg" alt="Ícono twitter">
                    </button>
                    <!-- Instagram -->
                    <button class="my-button">
                        <img src="/assets/images/icon-instagram.svg" alt="Ícono instagram">
                    </button>
                    <!-- YouTube -->
                    <button class="my-button">
                        <img src="/assets/images/icon-youtube.svg" alt="Ícono youtube">
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <span class="copyright-cont">
        © Copyright Colombia. Todos los derechos reservados
    </span>
</footer>
<footer class="my-mobile-footer">
    <div class="container my-container">
        <nav class="row">
            <!-- 1st menu -->
            <ul class="my-mob-menu">
                <li class="mob-menu-item">
                    <button class="my-button">
                        Políticas
                        <i class="bi bi-plus"></i>
                    </button>
                </li>
                <li class="mob-menu-item">
                    <button class="my-button">
                        Acerca de speedo
                        <i class="bi bi-plus"></i>
                    </button>
                </li>
                <li class="mob-menu-item">
                    <button class="my-button">
                        Medios de pago
                        <i class="bi bi-plus"></i>
                    </button>
                </li>
            </ul>
            <!-- Social networks -->
            <ul class="my-mob-menu">
                <li class="my-title">
                    Síguenos en:
                </li>
                <li class="mob-menu-item sn-mob-menu">
                    <!-- Facebook -->
                    <button class="my-button">
                        <img src="/assets/images/icon-facebook.svg" alt="Ícono facebook">
                    </button>
                    <!-- Twitter -->
                    <button class="my-button">
                        <img src="/assets/images/icon-twitter.svg" alt="Ícono twitter">
                    </button>
                    <!-- Instagram -->
                    <button class="my-button">
                        <img src="/assets/images/icon-instagram.svg" alt="Ícono instagram">
                    </button>
                    <!-- YouTube -->
                    <button class="my-button">
                        <img src="/assets/images/icon-youtube.svg" alt="Ícono youtube">
                    </button>
                </li>
            </ul>
        </nav>
    </div>
    <span class="copyright-cont">
        © Copyright Colombia. Todos los derechos reservados
    </span>
</footer>