.my-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    color: white;
}

.my-mobile-footer {
    display: none;
}

.my-footer .my-container {
    height: 100%;
    background-color: transparent;
}

.row {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    margin: 0;
}

.my-footer .my-container .row .my-menu {
    flex: 0 0 auto;
    width: 33.33333334%;
    list-style: none;
    padding: 0 4.2rem;
    margin: 0;
}

.copyright-cont {
    width: 100%;
    text-align: center;
    padding: .8rem;
    margin: 0 1rem;
    border-top: 1px solid #6b6b6b;
    font-size: 1.3rem;
}

.my-title {
    font-size: 1.6rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 1.5rem 0;
}

.my-button {
    color: inherit;
    border: 0;
    background-color: inherit;
    padding: 0;
    margin: .4rem 0;
    font-size: 1.3rem;
}

.my-footer .my-container .row .my-menu .sn-menu{
    display: flex;
    margin-right: 15%;
}

.my-footer .my-container .row .my-menu .sn-menu .my-button {
    width: 22%;
    height: auto;
    margin: 0 auto;
}

img{
    width: 100%;
    border-radius: 100%;
    background-color: white;
    padding: .5rem;
}

button:focus {
    outline: 0;
}

@media all and (max-width: 1090px) {
    .my-footer {
        display: none;
    }

    .my-mobile-footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
        color: white;
    }

    .my-mobile-footer .my-container {
        height: 100%;
        background-color: transparent;
    }

    .my-mobile-footer .my-container .row {
        padding: 3rem 0;
    }

    .my-mobile-footer .my-container .row .my-mob-menu {
        flex: 0 0 auto;
        width: 100%;
        list-style: none;
        padding: 0 2rem;
        margin: 0;
    }

    .my-button {
        display: flex;
        align-items: center;
        padding: 1.2rem;
        margin: 0;
        width: 100%;
        font-size: 1.3rem;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: start;
        border-bottom: 1px solid #6b6b6b;
    }

    i {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 2.5rem;
        font-weight: bolder;
    }

    .my-title {
        font-size: 1.3rem;
        margin-top: 2rem;
        padding: 0 .5rem;
    }

    .my-mobile-footer .my-container .row .my-mob-menu .sn-mob-menu {
        display: flex;
        margin-right: 35%;
    }
    
    .my-mobile-footer .my-container .row .my-mob-menu .sn-mob-menu .my-button {
        width: 25%;
        height: auto;
        border: 0;
        padding: .5rem;
        margin: 0 auto;
    }

    .copyright-cont {
        padding: 1rem;
        margin: 0 1rem;
        border-top: 0;
        font-size: .8rem;
    }
}